/* Skills */
.skill-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.skill {
    text-align: center;
    flex-basis: 25%;
    padding: 25px 0;
}

.skill .skill-icon {
    height: 64px;
    width: 64px;
    text-align: center;
    display: inline-block;
}

.skill .skill-icon img {
    object-fit: contain;
    max-height: 64px;
    max-width: 64px;
    width: auto;
    height: auto;
    vertical-align: middle;
}

.skill p {
    margin: 0;
}

.skill .skill-title {
    font-weight: bold;
    font-size: 22px;
    margin: 0 0 10px 0;
}

.skill-rating p {
    margin: 0 0;
    font-weight: normal;
    font-size: 20px;
}

.rating-dot {
    color: var(--tertiary-color);
}

/* Skill Category buttons */
#skills-navbar {
    text-align: center;
}

.skill-category-choice {
    font-size: 24px;
    margin: 10px 10px;
}

.skill-category-choice.active-selection {
    background-color: var(--main-color);
    color: var(--text-secondary-color);
}

/* Skill Details */
.skill-details .popup-button {
    font-size: 20px;
    margin-top: 2%;
}

.popup-menu-content .skill-familiar-entry {
    text-align: center;
    flex-basis: 12.5%;
}

.popup-menu-content .skill-familiar-entry img {
    width: 50px;
    height: 50px;
}

.skill-details-header {
    background-color: var(--accent-light);
    position: relative;
    padding: 10px 0;
}

.skill-details-header .skill-icon {
    width: 100px;
    height: 100px;
}

.skill-details-header .skill-icon img {
    max-width: 100px;
    max-height: 100px;
}